.Topbar{
    height: 10vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    transition: .4s ease-out;
    position: absolute;
    top : -1vh;
    border: black 1px solid;
    z-index: 99999;
    border-radius: 20px;
}

.Topbar.active{
   top: -10vh;
}

